.start-screen {
  font-size: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 60px auto;
}

.start-screen h2 {
  font-size: 1.5em;
  font-family:'Vibur', cursive;
}

.start-screen h3 {
  font-size: 0.8em;
  font-weight: normal;
  margin: 30px 0 10px;
}

.start-button {
  color: white;
  font-size: 20px;
  background: transparent;
  border: 2px solid white;
  padding: 5px 100px;
  border-radius: 10px;
}

.start-button:hover {
  box-shadow:0 0 20px white;
}

/*PENGUIN*/
.window {
  margin: auto;
  display: block;
  width: 300px;
  height: auto;
}

.penguin path {
  fill: rgb( 255, 255, 255 );
}


/*If displayed, makes the Penguin angry*/
.daggers {
  display: none;
}

.body, .round, .daggers, h1 {
  animation: flicker 1.5s infinite ease-in-out alternate;
  animation-delay: 0.5s;
}

.outer path {
  fill: rgb( 255, 255, 0);
  filter: url( #glow );
  opacity: 0.4;
  /* Dial this back to .2 for a really sinister looking penguin.. */
  transition: fill .7s ease-in-out;
}

.down, .up {
  animation: illuminate 1.3s infinite ease-in-out;
}

.down {
  animation-direction: reverse;
}

.up {
  animation-direction: normal;
  opacity: 0.1;
}

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .window {
    margin: 0;
    width: 80%;
  }

  .url-share {
    width: 95%;
  }

}

@keyframes illuminate {
  0% {
      opacity: 0.12;
    }
  45% {
    opacity: 0.12;
  }
  55% {
    opacity: 1;
  }
  100% {
      opacity: 1;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 0.9;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0.85;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.9;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0.85;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0.9;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 0.85;
  }
  60% {
    opacity: 1;
  }
  65% {
    opacity: 0.9;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 0.85;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.4;
  }
  95% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
