.window {
  margin: auto;
  display: block;
  width: 300px;
  height: auto;
}

.penguin path {
  fill: rgb( 255, 255, 255 );
}


/*If displayed, makes the Penguin angry*/
.daggers {
  display: none;
}

.body, .round, .daggers, h1 {
  animation: flicker 1.5s infinite ease-in-out alternate;
  animation-delay: 0.5s;
}

.outer path {
  fill: rgb( 255, 255, 0);
  filter: url( #glow );
  opacity: 0.4;
  /* Dial this back to .2 for a really sinister looking penguin.. */
  transition: fill .7s ease-in-out;
}

.down, .up {
  animation: illuminate 1.3s infinite ease-in-out;
}

.down {
  animation-direction: reverse;
}

.up {
  animation-direction: normal;
  opacity: 0.1;
}

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .window {
    margin: 0;
    width: 80%;
  }

  .url-share {
    width: 95%;
  }

}

@keyframes illuminate {
  0% {
      opacity: 0.12;
    }
  45% {
    opacity: 0.12;
  }
  55% {
    opacity: 1;
  }
  100% {
      opacity: 1;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 0.9;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0.85;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.9;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0.85;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0.9;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 0.85;
  }
  60% {
    opacity: 1;
  }
  65% {
    opacity: 0.9;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 0.85;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.4;
  }
  95% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
