body {
  color: #fff;
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
  background: #112 url('../images/brick-wall.jpg')  center no-repeat;
  background-size:cover;
  margin:0
}

#score {
  margin: 20px;
}

canvas {
  border: solid .2em #fff;
  height: 80vh;
}

.start-screen {
  font-size: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
}

.start-screen h2 {
  font-size: 1.5em;
  font-family:'Vibur', cursive;
}

.start-screen h3 {
  font-size: 0.8em;
  font-weight: normal;
  margin: 30px 0 10px;
}

.start-button {
  color: white;
  font-size: 20px;
  background: transparent;
  border: 2px solid white;
  padding: 5px 100px;
  border-radius: 10px;
}

.start-button:hover {
  box-shadow:0 0 20px blue;
}

i {
  margin: 0 8px;
}

.logo {
  text-align: center;
  width: 65%;
  height: 250px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.logo b{
  font-family:'Vibur', cursive;
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}

.logo b span{
  animation: blink linear infinite 2s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {

    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
